__pycache__/
.pytest_cache/
.venv/
*.pyc
.DS_Store
# Runner artifacts
artifacts/**/*.html
Screenshot\ *.png
artifacts/dr/

# dbt build artifacts and caches
dbt_packages/
dbt_modules/
logs/
manifest.json
data/warehouse/*.db
!data/dr/manifest.json
models/target/
models/macros/*
!models/macros/tests/
!models/macros/tests/not_empty.sql
partial_parse.msgpack
run_results.json
target/
